body {
    margin: 0;
    padding: 0;
    background: #0D0D0D;
    font-family: 'Manrope', sans-serif;
    color: #D6CDC5;
}

.container {
    max-width: 420px;
    margin: auto;
    padding: 30px;
    text-align: left;
}

.logo {
    display: block;
    width: 70px;
    margin: 10px auto 25px;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #D6CDC5;
    margin-bottom: 25px;
}

label {
    display: block;
    font-weight: 600;
    margin: 12px 0 5px;
    color: #D6CDC5;
}

input, select, textarea {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    background: #1A1A1A;
    color: #fff;
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
}

input:focus, select:focus, textarea:focus {
    outline: 2px solid #D6CDC5;
}

.btnReservar {
    margin-top: 20px;
    width: 100%;
    background: #D6CDC5;
    color: #0D0D0D;
    padding: 16px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btnReservar:hover {
    background: #cfc6bd;
}
